In [1]:
import pandas as pd

# Analisi dataset TRAINING

In [2]:
# Caricamento dataset training

train_path_X = "Dataset\Train\X_train.csv"
train_path_Y = "Dataset\Train\Y_train.csv"

df_x = pd.read_csv(train_path_X)
df_y = pd.read_csv(train_path_Y)

<>:3: SyntaxWarning: invalid escape sequence '\T'
<>:4: SyntaxWarning: invalid escape sequence '\T'
<>:3: SyntaxWarning: invalid escape sequence '\T'
<>:4: SyntaxWarning: invalid escape sequence '\T'
C:\Users\lucab\AppData\Local\Temp\ipykernel_11660\2475431802.py:3: SyntaxWarning: invalid escape sequence '\T'
  train_path_X = "Dataset\Train\X_train.csv"
C:\Users\lucab\AppData\Local\Temp\ipykernel_11660\2475431802.py:4: SyntaxWarning: invalid escape sequence '\T'
  train_path_Y = "Dataset\Train\Y_train.csv"

In [3]:
df_x.head()

,id,trq_measured,oat,mgt,pa,ias,np,ng
0,0,54.100,2.00000,544.5000,212.1408,74.56250,89.18000,99.6400
1,1,49.625,24.22231,578.4844,1625.6400,30.35596,99.55273,91.3866
2,2,52.000,7.00000,566.1000,1912.9250,65.62500,100.14000,90.9600
3,3,62.400,7.25000,560.1000,277.0632,54.81250,90.64000,100.2800
4,4,62.900,23.25000,593.7000,53.6448,73.43750,99.91000,92.1700

In [4]:
df_y.head()

   id  faulty  trq_margin
0   0       1  -13.717745
1   1       0    1.791863
2   2       1  -13.944871
3   3       0   -0.017281
4   4       0    7.322404